body{
    margin:0;
}

nav{
    background-color: #3c29eb;
}

#menu{
    list-style-type: none;
    height: 50px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

#menu  li{
    padding: 12px;
    display: inline-block;
    color: rgb(235, 243, 235);
}

#menu li a {
    text-decoration: none;
    color: inherit;
    font-family: arial;
    font-weight: bold;
    font-size: 22px;
}

#menu li:hover{
    background-color: rgb(143, 135, 135);
    color: white;
}

header{
    height: 250px;
}

header img{
    height: 250px;
    width: 100%;
}

.mysection{
    padding: 10px;
    background-color: rgb(195, 188, 236);
    margin-bottom: 15px;
    border: 2px solid rgb(163, 181, 228);
}


.mysection h1{
    color: rgb(53, 40, 40);
}

.mysection p{
    color: rgb(94, 85, 72);
}


dl dt{
    font-weight: bold;
    text-decoration: underline;
    font-family: comic sans ms;
    color: rgb(18, 29, 7);
}

footer{
    margin: 0;
    padding: 10px;
    background-color: #3c29eb;
    color: white;
}
footer p {
    text-align: center;
    margin: 0;
}

